<ion-view id="title" view-title="Recipe Detail">
  <ion-content class="padding">
    <h4>{{recipe.title}}</h4> <br>
    <img ng-src="{{recipe.image}}" />

    <ion-list class="ingredients">
      <ion-item class="recipeList" ng-repeat="ingredient in needs" class="item-icon-right">
        {{ingredient.originalString}} <br>
      </ion-item>


    </ion-list>
    <p ng-bind-html="recipe.instructions"> </p>

    <button class="button button-full" ng-click="addFav()">{{addfav}}</button>
  </ion-content>
</ion-view>

