<!--account control-->

<ion-view id="title" view-title="Settings">
  <ion-content>

    <button class="button button-block" ng-click="goLogout()">
      Logout
    </button>

    <button class="button button-block" ng-click="goHome()">
      About
    </button>

    <button class="button button-block" ng-click="">
      Food allergies
    </button>

    <button class="button button-block" ng-click="">
      Clear Fridge
    </button>

    <button class="button button-block" ng-click="">
      Clear Recipes
    </button>

  </ion-content>
</ion-view>
