<ion-view id="title" view-title="myRecipes">
  <ion-content class="padding">

        <!--<label ng-repeat="item in list">-->
          <!--<input type="checkbox" checklist-model="item.item" checklist-value="item"> {{item.item}}-->
        <!--</label>-->
        <!--<br/>-->

          <ion-toggle type="checkbox" ng-repeat="item in list" checklist-model="ingredients" checklist-value="item.item"
          ng-change="addItem(item)" ng-model="item.checked">
            {{ item.item }}
          </ion-toggle>

        <div class="item">
          <pre ng-bind="item.item | json"></pre>
        </div>

    <button class="button button-full" ng-click="submitRecipe()">Search</button>


  </ion-content>
</ion-view>
