<ion-view id="title" view-title="myRecipes">
  <ion-content class="padding">

    <ion-toggle type="checkbox" ng-repeat="item in list" checklist-model="ingredients" checklist-value="item.item"
                ng-change="addItem(item)" ng-model="item.checked"> {{ item.item }}
    </ion-toggle>

    <div class="item">
      <pre ng-bind="item.item | json"></pre>
    </div>

    <button class="button button-full" ng-click="submitRecipe()">Search</button>

    <!--Ng-repeat for recipe results needs to be completed-->
    <div class="recipes">

    </div>

  </ion-content>
</ion-view>
