<!--myFridge control-->

<ion-view id="title" view-title="myFridge">
  <ion-content class="padding">


    <form method="get" action="/search" id="search">
      <input name="q" type="text" size="40" placeholder="Search..." ng-change="diffName()"  ng-model="$parent.searchtext" ng-controller="DashCtrl" />
    </form>

    <div class="bottom">
      <div style="float: left; width:100%;">
        <label class = "item item-input">
          <input type="text" name = "shopItem" id="shopItem-textarea"
                 ng-model="itemInput.item" placeholder="Item">
        </label>
      </div>

    </div>

    <div class="bottom">
      <div style="float: left; width: 100%;">
        <label class="item item-input">
          <input type="text" name="time" id="time-textarea" ng-model="itemInput.expDate" placeholder="Due Date" onclick="this.type='date'">
        </label>
      </div>
    </div>


    <button class="button button-full" ng-click="onSubmit()">Submit</button>
    <ul>

      <li class="button button-full" ng-repeat="groceryItem in listOfGroceries" ng-click="deleteItem(groceryItem)">
        Item: {{groceryItem.item}} <br> Expiration Date: {{groceryItem.expDate}}</li>
    </ul>

  </ion-content>
</ion-view>
