<!--Home control-->

<ion-view id="title" view-title="Home">
  <ion-content>


    <h3>Hey, {{name}}! It's time for {{curHr}}</h3>

      <h4>
        Thank you for checking out our app, we hope you'll love it as much as we
        did creating it! Within this app, you can log-in with Facebook and enter your groceries,
        see past recipes, and save your favorite dishes. Get cooking!
      </h4>

    <div class="slideshow">
      <img class="mySlides" src="img/breakfast.jpeg">
      <img class="mySlides" src="img/breakfast2.png">
      <img class="mySlides" src="img/breakfast3.jpg">
      <img class="mySlides" src="img/breakfast4.png">
      <img class="mySlides" src="img/lunch2.jpg">
      <img class="mySlides" src="img/lunch3.jpg">
      <img class="mySlides" src="img/lunch4.jpg">
      <img class="mySlides" src="img/lunch.png">
      <img class="mySlides" src="img/lunch5.png">
      <img class="mySlides" src="img/dinner.png">
      <img class="mySlides" src="img/dessert.png">
      <img class="mySlides" src="img/dessert2.jpg">
      <img class="mySlides" src="img/dessert3.png">
      <img class="mySlides" src="img/dessert4.png">
    </div>

  </ion-content>
</ion-view>

