/*Home image*/
.mySlides {
  width:100%;
  position: absolute;
  top: 120%;
  left: 0;
  padding: 1px;
  border: 5px solid whitesmoke;
  /*-webkit-filter: blur(0.2px) contrast(90%);*/
  /*-moz-filter: blur(0.2px) contrast(90%);*/
  /*border: 5px solid #A9A9A9;*/
}

h3 {
  text-align: center;
  color:steelblue;
  font-family: 'Indie Flower', cursive;
  padding: 30px;
}

h4 {
  text-align: center;
  color:steelblue;
  font-family: 'Indie Flower', cursive;
  padding: 5px;
}

br {
  padding: 5px;
}

tabs-chats {
  background-color: darkgrey;
}

ion-content {
  background-color: #F0F8FF;
  box-shadow: inset 0px 0px 40px 40px #F0F8FF;
}

.title {
  background-color: #F0F8FF;
  color:#FFA07A;
  font-family: 'Indie Flower', cursive;
  font-size: 100px;
}

form {
  /*margin: 0 43.5%;*/
  padding: 20px;
  width: 208px;
  height: auto;
  /*overflow: hidden;*/
  margin: auto;
}

#search input[type="text"] {
  background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;
  border: 1px solid #d1d1d1;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color: #bebebe;
  width: 150px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
  width: 200px;
}

.button {
  background-color: steelblue;
}

.button:active {
  background-color: #ADD8E6;
}


.recipe {
  text-align: center;
  background-color: #F0F8FF;
  color: steelblue;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  padding: 30px;
  white-space: initial;
  line-height: 30px;
}

img {
  text-align: center;
  width: 100%;
  padding: 10px;
  position:relative;
}

.recipeList {
  text-align: center;
  background-color: #F0F8FF;
  color: steelblue;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  padding: 10px;
  white-space: initial;
  line-height: 30px;
}

.ingredients {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: steelblue;
  text-align: center;
  list-style-position: inside;
  clear: right;
  display: inline;
  list-style: none;

}
